name: Build extension

on: [push, pull_request]

jobs:
  build:
    name: Build extension
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          node-version: "14"

      - name: Install yarn
        run: npm i -g yarn

      - name: Install dependencies
        run: yarn

      - name: Build extension scripts
        run: yarn build
